@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  .aligning {
    @apply mx-auto max-w-7xl px-8;
  }

  .scroll-button {
    @apply bg-violet-500 text-slate-100 p-2 bottom-20 right-4 rounded-full h-10 w-10 z-10;
  }

  .progress-bar {
    @apply absolute w-8 h-8 left-0 top-0 translate-x-1 translate-y-1 bg-violet-300 text-violet-500 rounded-full flex items-center justify-center hover:bg-violet-500 hover:text-white hover:scale-125 duration-200;
  }
}

::-webkit-scrollbar {
  width: 0.5rem;
}

::-webkit-scrollbar-track {
  background-color: #ede9fe;
}

::-webkit-scrollbar-thumb {
  background-color: #8b5cf6;
}

::-moz-selection {
  color: #ede9fe;
  background: #8b5cf6;
}

::selection {
  color: #ede9fe;
  background: #8b5cf6;
}
